@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    background:#c2c1bc;
    font-family: 'Source Serif Pro', serif;
}
nav ul {
    display:flex ;
    justify-content:space-between ;
    align-content:space-between ;
    align-items:center ;
    list-style:none;
    padding:20px;
    

}
.logo img{
    width:80px ;
    height:80px ;
    padding:0.5em;
    border:0.5em solid black;
}
nav ul li{
  margin:0 20px;
  font-weight: bold;
}
nav ul li a{
    text-decoration: none;
    color:black;
}
 a:hover{
    color:purple;
}
#header{
    width:100vw;
    height:45vh;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color:white;
}
#bio{
    padding:80px ;
    display: flex;
    column-gap: 100px;
}
 #bio article *{
    margin: 20px; 
}
#port{
    display: flex;
    flex-direction: column;
    align-items: center;
    background:#c2c1bc;
    color: white;
    padding: 50px;

}
#port h4,h3,hr{
    margin-bottom: 20px;
}
 #port hr{
    width: 100%;
}

#port div{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    width: 100%;
 }
 #port div article {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width:300px ;
    height: 300px;
    background:white ;
    color: black;
    border-radius: 10px;
 }
  .space{
    height:25vh ;
 }
 #skils{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding:50px ;
 }
 .skill-set{
    display: flex;
    justify-content: space-around;
    width: 100%;
 }
 .skill-set div{
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 #skils ul{
    list-style: none;
 }
  
 #skils ul li{
    margin: 10px 0;
 }
 progress[value]{
    height: 10px;
    width: 500px;
    -webkit-appearance:none;
}
::-webkit-progress-value{
    background-color: #14a1cc;
}
progress[value]::-webkit-progress-bar{
    background-color: white;
    border: 2px;
    box-shadow: 0 2px 5px solid black;
}
#contact{
    background-color:black ;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:30px;
}
.input{
   line-height: 2em;
    width: 18em;
    border-radius:3px;
    border-color: black;
    margin: 10px;

}
#contact form input:last-child{
    margin-top: 30px;
}
#contact form{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
}
#port div article img
{
 height: 25vh;
 width:15vw;
}
  
  
